String Based Assignment Problem

In [1]:
#1. Write a program to reverse a string.
string = input("enter the string")
result = string[::-1]
print(result)

enter the string rahul

luhar

In [1]:
#2. Check if a string is a palindrome.
string1 = input("enter the string")
if string1 == string1[::-1]:
    print(string1,"it palindrome")
else:
    print(string1,"not palindrome")

enter the string malayalam

malayalam it palindrome

In [2]:
#3. Convert a string to uppercase.
str2 = input("enter the string")
uppercase = str2.upper()
print(uppercase)

enter the string rahul

RAHUL

In [3]:
#4. Convert a string to lowercase.
str3 = input("enter the string")
lowercase = str3.lower()
print(lowercase)

enter the string RAHUL

rahul

In [4]:
#5. Count the number of vowels in a string.
sentence = input("Enter the sentence")
string = sentence.lower()
print(string)
count = 0
list1 = ["a","e","i","o","u"]
for sen  in string:
    if sen in list1:
        count = count+1
print("counts of vowels in given sentence",count)

Enter the sentence well come to pwskills

well come to pwskills
counts of vowels in given sentence 5

In [5]:
#6. Count the number of consonants in a string.
sentence = input("enter the sentence")
str4 = sentence.lower()
print(str4)
count = 0
list2 = ["a","e","i","o","u"]
for i in str4:
    if i != list2:
        count = count+1
print("Count the number of consonants in a string is :",count)

enter the sentence welcome to pwskills in data science pro

welcome to pwskills in data science pro
Count the number of consonants in a string is : 39

In [1]:
#7. Remove all whitespaces from a string.
str5 = "    hello world"
whitespaces = str5.strip()
print(whitespaces)

hello world

In [4]:
#8. Find the length of a string without using the `len()` function.
str6 = input("enter the string")
str6_length = 0
for i in str6:
    str6_length = str6_length+1
print("length of the string:",str6_length)

enter the string rahul pathak

length of the string: 12

In [27]:
#9. Check if a string contains a specific word.
str7 = "my name is Rahul Pathak"
print(str7.("is"))

False

In [1]:
#10. Replace a word in a string with another word.
str8 = input("enter the string")
res = str8.replace('y','e')
print(res)

enter the string my name is Rahul Pathak

me name is Rahul Pathak

In [2]:
#11. Count the occurrences of a word in a string.
str9 = input("Enter the string")
result = str9.count('a')
print(result)

Enter the string Rahul pathak

3

In [3]:
#12. Find the first occurrence of a word in a string.
str10 = input("Enter the String")
res=str10.find('p')
print(res)

Enter the String pwskills

0

In [4]:
#13. Find the last occurrence of a word in a string.
str11 = input("enter the string")
res = str11.find('l')
print(res)

enter the string rahul

4

In [9]:
#14. Split a string into a list of words.
str12 = input("Enter the String")
res = list(str12.split())
print(res)

Enter the String my name is rahul pathak

['my', 'name', 'is', 'rahul', 'pathak']

In [11]:
# 15.Join a list of words into a string.
list1 = [ 'i', 'am' ,'rahul','pathak']
joined = " ".join(list1)
print(joined)

i am rahul pathak

In [14]:
#16. Convert a string where words are separated by spaces to one where words
#are separated by underscores.
str13 = input("enter the string")
underscores = str13.replace(" ","_")
print(underscores)

enter the string my name is Rahul Pathak

my_name_is_Rahul_Pathak

In [19]:
#17. Check if a string starts with a specific word or phrase.
str14 = input("enter the string :")
print(str14.startswith('python'))

enter the string : python is fun

True

In [22]:
str15 = input("enter the String")
print(str15.endswith('rahul'))

enter the String my name is rahul

True

In [24]:
#19. Convert a string to title case
str16 = 'hello world'
print(str16.title())

Hello World

In [49]:
#20. Find the longest word in a string.
str17 = 'i am rahul pathak'
s = str17.split()
longest_word = len(s[0][-1])
for i in s:
    if len(i) > longest_word:
        longest_word = len(i)
        long = i
print(long)

pathak

In [48]:
#21. Find the shortest word in a string. 
str18 = 'i am rahul pathak'
sh = str18.split()
short_word = len(sh[0:1])
for i in sh:
    if len(i) < short_word:
        short_word = len(i)
        short = i
print(short)

In [50]:
#22. Reverse the order of words in a string.
str19 = 'pwskills'
res = str19[::-1]
print(res)

sllikswp

List Based Practice Problem :

In [64]:
#23. Check if a string is alphanumeric.
str20 = 'pwskills'

res = print(str20.isalnum())

True

In [60]:
# 24. Extract all digits from a string.
def extract_digits(text):
    # Step 1: Initialize an empty string to store the extracted digits.
    digits = ""

    # Step 2: Iterate through each character in the text.
    for char in text:
        # Check if the character is a digit using the isdigit() method.
        if char.isdigit():
            # Append the digit to the digits string.
            digits += char

    # Step 3: Return the extracted digits.
    return digits

# Example usage
text = "Hello123World456"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456

In [61]:
#25. Extract all alphabets from a string.
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets

# Example input string
input_string = "Hello123World456"
result = extract_alphabets(input_string)
print(result)

H e l l o W o r l d

In [62]:
# 26. Count the number of uppercase letters in a string.
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

# Example input string
input_string = "HelloWORLD"
result = count_uppercase(input_string)
print(result)

6

In [65]:
# 27. Count the number of lowercase letters in a string.
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

# Example input string
input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

In [66]:
# 28. Swap the case of each character in a string.
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

# Example input string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

In [67]:
# 29. Remove a specific word from a string.
def remove_word(input_string, word_to_remove):
    words = input_string.split()  # Split the input string into a list of words
    filtered_words = [word for word in words if word != word_to_remove]  # Create a new list excluding the word to remove
    modified_string = ' '.join(filtered_words)  # Join the filtered words back into a string
    return modified_string

# Example input string and word to remove
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

In [68]:
# 30. Check if a string is a valid email address.
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [70]:
# 31. Extract the username from an email address string.
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "example@email.com"
result = extract_username(email)
print(result)

example

In [72]:
# 32. Extract the domain name from an email address string.
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

In [73]:
# 33. Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

In [74]:
# 34. Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [75]:
#35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [76]:
# 36. Find the frequency of each character in a string.
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [77]:
# 37. Remove all punctuation from a string.
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [78]:
# 38. Check if a string contains only digits.
def contains_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()

# Example strings
string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

# Check if strings contain only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

# Print the results
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [79]:
# 39. Check if a string contains only alphabets.
def contains_only_alphabets(input_string):
    # Check if all characters in the string are alphabetic
    return input_string.isalpha()

# Example strings
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

# Check if strings contain only alphabets
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

# Print the results
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [80]:
#40. Convert a string to a list of characters.
def string_to_list(input_string):
    # Use list() constructor to convert the string to a list of characters
    char_list = list(input_string)
    return char_list

# Example string
input_str = "Hello, world!"

# Convert the string to a list of characters
char_list = string_to_list(input_str)

# Print the list of characters
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [81]:
# 41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [88]:
# 42. Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
 
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
    
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [89]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [93]:
# 44. Find the most frequent word in a string.
import re
from collections import Counter

def most_frequent_word(input_string):
    
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]




    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [94]:
#45. Find all unique words in a string.
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'there', 'world', 'hello', 'the', 'hows'}

In [95]:
#46. Count the number of syllables in a string.
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [97]:
#47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [98]:
# 48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [103]:
#49. Insert a word at the nth position in a string.
def inserter(s, a, n):
    """
    s: The original string
    a: The characters you want to append
    n: The position you want to append the characters
    """
    return s[:n] + a + s[n:]

if __name__ == '__main__':
    original_string = "My car is a mazda."
    
    
s = "rahul"
a = "pathak"
n = 2

inserter(s,a,n)

'rapathakhul'

In [3]:
#1. Create a list with integers from 1 to 10.
l1 = list(range(1,11))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#2. Find the length of a list without using the `len()` function.
input_list = list(range(1,11))
count = 0
for i in input_list:
    count = count+i
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
#3. Append an element to the end of a list.
l2 = ["rahul", "pathak", "pw skills", "data science", 1, 2, 3,4 ]
l2.append("b-tech")
print(l2)

['rahul', 'pathak', 'pw skills', 'data science', 1, 2, 3, 4, 'b-tech']

In [10]:
#4. Insert an element at a specific index in a list.
l3 = ["rahul", "pathak", "pw skills", "data science", 1, 2, 3,4 ]
l3.index("pw skills")

2

In [11]:
#5. Remove an element from a list by its value.
l4 = ["rahul", "pathak", "pw skills", "data science", 1, 2, 3,4 ]
l4.remove(2)

In [12]:
l4

['rahul', 'pathak', 'pw skills', 'data science', 1, 3, 4]

In [1]:
#6. Remove an element from a list by its index.
l5 = ["rahul", "pathak", "pw skills", "data science", 1, 2, 3,4 ]
l5.pop(5)

2

In [2]:
l5

['rahul', 'pathak', 'pw skills', 'data science', 1, 3, 4]

In [4]:
#Check if an element exists in a list.
my_list = list(range(1,100))
to_check_number = 65
if to_check_number in my_list:
    print("element exists in a list",to_check_number)
else:
    print("does no exists in a list",to_check_number)

element exists in a list 65

In [5]:
#Find the index of the first occurrence of an element in a list.
list6 = ["rahul", "pathak", "pw skills", "data science", 1, 2, 3,4 ]
list6.index("pw skills")

2

In [9]:
list7 = list(range(1,100))
list7.index(65)

64

In [11]:
#9. Count the occurrences of an element in a list.
list8 = [10,20,30,40,50,20,30,20,45,75,40,20,10,45,85.20,30,45,45,75,45,]
list8.count(45)

5

In [12]:
 #010. Reverse the order of elements in a list.
list9 = ["rahul", "pathak", "pw skills", "data science", 1, 2, 3,4 ]
rev = list9[::-1]
print(rev)

[4, 3, 2, 1, 'data science', 'pw skills', 'pathak', 'rahul']

In [14]:
#11. Sort a list in ascending order.
list10 = [50, 10, 30, 40, 20]
list10.sort()
print(list10)

[10, 20, 30, 40, 50]

In [16]:
#12. Sort a list in descending order.
list11 = [50, 10, 30, 40, 20]
list11.sort(reverse=True)
print(list11)

[50, 40, 30, 20, 10]

In [33]:
 #13. Create a list of even numbers from 1 to 20.
even_number = [x for x in range(2,21,2) ]
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [34]:
#14. Create a list of odd numbers from 1 to 20.
odd_number = [x for x in range(1,21,2)]
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [35]:
# 15. Find the sum of all elements in a list.
list12 = [10,20,30,40,50]
total_sum = sum(list12)
print(total_sum)

150

In [36]:
 #16. Find the maximum value in a list.
list13 = [10,20,30,40,50,5,6,]
maxx = max(list13)
print(maxx)

50

In [38]:
# 17. Find the minimum value in a list.
list14 = [10,20,30,40,50,5,6,]
minn = min(list14)
print(minn)

5

In [39]:
#18. Create a list of squares of numbers from 1 to 10.
squares_list = [x**2 for x in range(1,11)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
#19. Create a list of random numbers.
import random
list15 = []
for i in range(10):
    list15.append(random.randint(1,100))
    print(list15)

[4]
[4, 27]
[4, 27, 80]
[4, 27, 80, 6]
[4, 27, 80, 6, 38]
[4, 27, 80, 6, 38, 5]
[4, 27, 80, 6, 38, 5, 87]
[4, 27, 80, 6, 38, 5, 87, 2]
[4, 27, 80, 6, 38, 5, 87, 2, 8]
[4, 27, 80, 6, 38, 5, 87, 2, 8, 31]

In [46]:
#19. Create a list of random numbers.
#or
import random
random_int = [random.randint(1,100) for i in range(10)]
print(random_int)

[28, 56, 71, 100, 9, 33, 17, 17, 10, 2]

In [48]:
#20. Remove duplicates from a list.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
list(set(my_list))

[40, 10, 50, 20, 30]

In [51]:
# 21. Find the common elements between two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
common_element = list(set(list1).intersection(list2))
print(common_element)

[40, 50, 30]

In [53]:
#22. Find the difference between two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
diff_ele = list(set(list1).difference(list2))
print(diff_ele)

[20, 10]

In [54]:
#23. Merge two lists.
list1 = [10, 20, 30]
list2 = [40, 50, 60]
merge_list = list1+list2
print(merge_list)

[10, 20, 30, 40, 50, 60]

In [56]:
# 24. Multiply all elements in a list by 2.
my_list = [1,2,3,4,5,6,7,8,9,10]
mul_my_list = [x**2 for x in my_list]
print(mul_my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
#25. Filter out all even numbers from a list.
my_list = [1,2,3,4,5,6,7,8,9,10]
even_num_from_list = list(filter(lambda x: x%2 == 0, my_list))
print(even_num_from_list)

[2, 4, 6, 8, 10]

In [66]:
# 26. Convert a list of strings to a list of integers.
string_list = ["10", "20", "30", "40", "50"]
int_list = [int(i) for i in string_list]
print(int_list)

[10, 20, 30, 40, 50]

In [67]:
# 27. Convert a list of integers to a list of strings.
int_list = [10, 20, 30, 40, 50]
str_list = [str(i) for i in int_list]
print(str_list)

['10', '20', '30', '40', '50']

In [68]:
#28. Flatten a nested list.
my_list = [[1], [2, 3], [4, 5, 6, 7]]
flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
#29. Create a list of the first 10 Fibonacci numbers.
def fib(n):
    a , b = 0,1
    for i in range(n):
        yield a 
        a = b
        b = a+b

In [4]:
for i in fib(10):
    print(i)

0
1
2
4
8
16
32
64
128
256

In [10]:
#30. Check if a list is sorted.
def is_sorted(num):
    for i in range(1 , len(num)):
        if num[i] < num[i-1]:
            return False 
        return True
listt = [ 10,20,30,40,50]
if is_sorted(listt):
    print("this is sorted list")
elif is_sorted(listt):
    print("this is unsorted list")
else:
    print("error")

this is sorted list

In [15]:
# 31. Rotate a list to the left by `n` positions.
def rotate_left(ist, n):
    n =  n % len(ist)
    rotated = ist[n:] + ist[:n]
    return rotated
my_list = [1,2,3,4,5,6,7,8,9]
n = 2
rotated_list = rotate_left(my_list , n)
print(rotated_list)

[3, 4, 5, 6, 7, 8, 9, 1, 2]

In [21]:
#32. Rotate a list to the right by `n` positions.
def rotate_rigth(ist,n):
    n = n % len(ist)
    rotated = ist[-n:]+ist[:-n]
    return rotated
my_list = [1,2,3,4,5,6,7,8,9]
n = 2
rotated_list = rotate_rigth(my_list ,n)
print(rotated_list)

[8, 9, 1, 2, 3, 4, 5, 6, 7]

In [29]:
# 33. Create a list of prime numbers up to 50.
give_list = list(range(0,51))
for i in give_list:
    flag = 0
    for j in range(2,i):
        if i%j == 0:
            flag = 1
            break
    if flag == 0:
        print(i, end = ' ' )

0 1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [2]:
# 34. Split a list into chunks of size `n`.
def div_chunks(l,n):
    for i in range(0, len(l),n):
        yield l[i: i+n]
my_list = list(range(0,50,5))
n = 5
res =list( div_chunks(my_list,n))
print(res)

[[0, 5, 10, 15, 20], [25, 30, 35, 40, 45]]

In [3]:
#35. Find the second largest number in a list.
my_list

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [4]:
def second_largest(lst):
    lst.sort(reverse=True)
    return lst[1]
second_largest(my_list)

40

In [20]:
# 36. Replace every element in a list with its square.
my_list = [2,4,6,8,10]
square_list = [x**2 for x in my_list]
print(square_list)

[4, 16, 36, 64, 100]

In [25]:
#37. Convert a list to a dictionary where list elements become keys and their 
#indices become values.
list_ = ['apple', 'banana', 'cherry', 'date', 'elderberry']
dict_ = {listt[i]: i for i in range(len(list_))}
print(dict_)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [30]:
# 38. Shuffle the elements of a list randomly.
import random
my_list = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(my_list)
print(my_list)

[8, 10, 6, 3, 9, 7, 4, 5, 2, 1]

In [31]:
# 39. Create a list of the first 10 factorial numbers.
import math
fact = [math.factorial(n) for n in range(10)]
print(fact)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [36]:
#40. Check if two lists have at least one element in common.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
def check_common_list(list1,list2):
    for i in list1:
        if i in list2:
            return True
    return False
if check_common_list(list1,list2):
    print("there is common element in the two list :")
else:
    print("there is no common element in the rwo list :")

there is common element in the two list :

In [39]:
# 41. Remove all elements from a list.
my_list = [1,2,3,4,5,6,7]
remove = my_list.clear()
print(" Remove all elements from a list :",my_list)

 Remove all elements from a list : []

In [41]:
#42. Replace negative numbers in a list with 0.
my_list = [10,-5,-4,7,5,8,9-3]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print(my_list)

[10, 0, 0, 7, 5, 8, 6]

In [42]:
my_string = "Hello, this is a sample sentence."
word_list = my_string.split()
print(word_list)

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [43]:
#44. Convert a list of words into a string.
word_list

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [46]:
str_list = " ".join(word_list)
print(str_list)

Hello, this is a sample sentence.

In [48]:
#45. Create a list of the first `n` powers of 2.
pow_list = [i**2 for i in range(5)]
print(pow_list)

[0, 1, 4, 9, 16]

In [51]:
#46. Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_str = ""
for i in string_list:
    if len(i) > len(longest_str):
        longest_str = i
print(longest_str)

elderberry

In [55]:
#47. Find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_str = string_list[0]
for i in string_list:
    if len(shortest_str)>len(i):
        shortest_str = i
print(shortest_str)

date

In [57]:
# 48. Create a list of the first `n` triangular numbers.
def triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]
n = 5 
tri_list = triangular_numbers(n)
print(tri_list)

[1, 3, 6, 10, 15]

In [58]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False


main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]


if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [59]:
# 50. Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]


index1 = 1
index2 = 3


temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp


print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

In [60]:
# 1. Create a tuple with integers from 1 to 5.
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [63]:
# 2. Access the third element of a tuple.
Tuple = tuple(range(1,10))
third_element = Tuple[2]
print(third_element)

3

In [65]:
# 3. Find the length of a tuple without using the `len()` function.
Tuple = tuple(range(1,10))
count = 0
for i in Tuple:
    count = count+1
print(count)

9

In [66]:
#4. Count the occurrences of an element in a tuple.
my_tuple = (10, 20, 30, 20, 40, 50, 20)
my_tuple.count(20)

3

In [69]:
# 5. Find the index of the first occurrence of an element in a tuple.
my_tuple = (10, 20, 30, 20, 40, 50, 20)
my_tuple.index(10)

0

In [74]:
# 6. Check if an element exists in a tuple.
my_tuple = (10, 20, 30, 20, 40, 50, 20)
my_element = 20
if my_element in my_tuple:
    print("this element exists in my_tuple")
else:
    print("this element not exists in my_tuple")

this element exists in my_tuple

In [75]:
#7. Convert a tuple to a list.
my_tuple = (10, 20, 30, 20, 40, 50, 20)
list(my_tuple)

[10, 20, 30, 20, 40, 50, 20]

In [76]:
#8. Convert a list to a tuple.
List = [1,2,3,4,5,6,7,8,9]
tuple(List)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [77]:
# 9. Unpack the elements of the tuple into variables

my_tuple = (10, 20, 30)

var1, var2, var3 = my_tuple


print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [87]:
# 10. Create a tuple of even numbers from 1 to 10.
Tuple = tuple(range(1,11))
List = []
for i in Tuple:
    if i%2 == 0 :
        List.append(i)
        tuple2 = tuple(List)
print(tuple2)

(2, 4, 6, 8, 10)

In [89]:
#11. Create a tuple of odd numbers from 1 to 10.
Tuple = tuple(range(1,11))
list_ = []
for i in Tuple:
    if i%2 != 0:
        list_.append(i)
        Tuple_odd = tuple(list_)
print(Tuple_odd)

(1, 3, 5, 7, 9)

In [90]:
 #12. Concatenate two tuples.
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenate = tuple1+tuple2
print(concatenate)

(1, 2, 3, 4, 5, 6)

In [95]:
#13. Repeat a tuple three times.
Tuple = (1,2,3,4,5,6)
tuple_3_times = Tuple * 3
print(tuple_3_times)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [97]:
#14. Check if a tuple is empty.
empty_tuple = ()
tuple_ = (4,5,6)
if not empty_tuple:
    print("empty tuple")
else:
    print("non empty tuple")
if  not tuple_ :
    print("empty tuple")
else:
    print("non empty tuple")

empty tuple
non empty tuple

In [98]:
# 15. Create a nested tuple.
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [100]:
#16. Access the first element of a nested tuple.
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
nested_tuple[0]

(1, 2, 3)

In [101]:
# 17. Create a tuple with a single element.
Tuple_single = (11,)
print(Tuple_single)

(11,)

In [104]:
#18. Compare two tuples.
tuple1 = (1,2,3)
tuple2 = (4,5,6)
print(tuple1 == tuple2)
print(tuple1 > tuple2)
print(tuple1 < tuple2)
print(tuple1 <= tuple2)
print(tuple1 >= tuple2)
print(tuple1 != tuple2)

False
False
True
True
False
True

In [110]:
 #19. Delete a tuple.
Tuple = (1,2,3,4,5)
del Tuple

In [111]:
Tuple.clear()

NameError: name 'Tuple' is not defined

In [112]:
Tuple

NameError: name 'Tuple' is not defined

In [113]:
# 20. Slice a tuple.
Tuple = (1,2,3,4,5)
Tuple[2:5]

(3, 4, 5)

In [114]:
# 21. Find the maximum value in a tuple.
Tuple = (1,2,3,4,5)
max(Tuple)

5

In [115]:
# 22. Find the minimum value in a tuple.
min(Tuple)

1

In [116]:
#23. Convert a string to a tuple of characters.
my_string = "hello world"
tuple(my_string)

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [121]:
#24. Convert a tuple of characters to a string.
tuple_ = ("i","a","m","r","a","h","u","l")
"".join(tuple_)

'iamrahul'

In [122]:
# 25. Create a tuple from multiple data types.
Tuple_mul_data_type = (123 , "rahul", True , 3.14)
print(Tuple_mul_data_type)

(123, 'rahul', True, 3.14)

In [123]:
# 26. Check if two tuples are identical.
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = (1,2,3)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple2 == tuple3
are_identical3 = tuple1 == tuple3
print(are_identical1)
print(are_identical2)
print(are_identical3)

False
False
True

In [124]:
 #27. Sort the elements of a tuple.
my_tuple = (56,78,25,76,45,51,10,65,33,30,12)
sorted(my_tuple)

[10, 12, 25, 30, 33, 45, 51, 56, 65, 76, 78]

In [5]:
# 28. Convert a tuple of integers to a tuple of strings.
my_tuple = (56,78,25,76,45,51,10,65,33,30,12)
str_convt = tuple(str(i) for i in my_tuple)
print(str_convt)

('56', '78', '25', '76', '45', '51', '10', '65', '33', '30', '12')

In [9]:
#29. Convert a tuple of strings to a tuple of integers.
my_str = ('56', '78', '25', '76', '45', '51', '10', '65', '33', '30', '12')
Tuple_convt = tuple(int(i) for i in my_str)
print(Tuple_convt)

(56, 78, 25, 76, 45, 51, 10, 65, 33, 30, 12)

In [11]:
# 30. Merge two tuples.
tuple1 = (1,2,3)
tuple2 = (4,5,6)
merge_tuple = tuple1 + tuple2
print(merge_tuple)

(1, 2, 3, 4, 5, 6)

In [12]:
# 31. Flatten a nested tuple.
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
def flatten_tuple(nested_tuple):
    flattened =[]
    for i in nested_tuple:
        if isinstance(i,tuple):
              flattened.extend(flatten_tuple(i))
        else:
            flattened.append(i)
    return flattened

In [15]:
convt_tuple = tuple(flatten_tuple(nested_tuple))
print(convt_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [16]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_num = [num for num in range(2,100) if is_prime(num)][:5]
print(prime_num)

[2, 3, 5, 7, 11]

In [19]:
#33. Check if a tuple is a palindrome.
def is_palindrome(Tuple):
    return Tuple ==  Tuple[::-1]
plaindrome_num = (1,2,2,1)
non_plaindrome_num = (4,5,6,7)
palindrome1 = is_palindrome(plaindrome_num)
palindrome2 = is_palindrome(non_plaindrome_num)
print("this is a palindrome number :",palindrome1)
print("this is not a able to palidrome number :",palindrome2)

this is a palindrome number : True
this is not a able to palidrome number : False

In [23]:
# 34. Create a tuple of squares of numbers from 1 to 5.
squares_num = [i**2 for i in range(1,6)]
tuple_squares = tuple(squares_num)
print(tuple_squares)

(1, 4, 9, 16, 25)

In [33]:
#35. Filter out all even numbers from a tuple.
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filter_tup = tuple(i for i in original_tuple if i%2 != 0)
print(filter_tup)

(1, 3, 5, 7, 9)

In [36]:
#36. Multiply all elements in a tuple by 2.
tuple1 = (1,2,3,4,5,6,7,8)
mul_element = tuple(i*2 for i in tuple1 )
print(mul_element)

(2, 4, 6, 8, 10, 12, 14, 16)

In [37]:
#37. Create a tuple of random numbers.
import random 
random_tuple = tuple(random.randint(1,100) for i in range(10))
print(random_tuple)

(10, 47, 25, 15, 76, 47, 13, 25, 18, 49)

In [38]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [39]:
#39. Rotate a tuple to the left by `n` positions.
def left_rotate_tuple(tup , n):
    n = n%len(tup)
    rotate_tuple = tup[n:] + tup[:n]
    return rotate_tuple 
my_tup = (1,2,3,4,5,6)
n_position = 2
res = left_rotate_tuple(my_tup , n_position)
print(res)

(3, 4, 5, 6, 1, 2)

In [42]:
#40. Rotate a tuple to the right by `n` positions.
def rotate_right_tuple(tup,n):
    n = n%len(tup)
    rotate_rigth = tup[-n:]+tup[:-n]
    return rotate_rigth
my_tup = (1,2,3,4,5,6)
n_position = 3
result = left_rotate_tuple(my_tup , n_position)
print(result)

(4, 5, 6, 1, 2, 3)

In [65]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def fib(n):
    fibn = [0, 1]
    while len(fibn) < n:
        next_num = fibn[-1] + fibn[-2]
        fibn.append(next_num)
    return  tuple(fibn)
my_fib = fib(5)
print(my_fib)

(0, 1, 1, 2, 3)

In [2]:
# 42. Create a tuple from user input.
user_input = tuple(input("enter your tuple"))
print(user_input)

enter your tuple pwskills

('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [3]:
# 43. Swap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [4]:
#44. Reverse the elements of a tuple.
my_tuple = (1, 2, 3, 4, 5)
rev = my_tuple[::-1]
print(rev)

(5, 4, 3, 2, 1)

In [6]:
# 45. Create a tuple of the first `n` powers of 2.
n = int(input("enter your number:"))
pow_tuple = tuple(2**i for i in range(n))
print(pow_tuple)

enter your number: 5

(1, 2, 4, 8, 16)

In [18]:
#46. Find the longest string in a tuple of strings.
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = string_tuple[0]
for string in string_tuple:
    if len(string) > len(longest_string):
        longest_string = string
print("The longest string in a tuple of strings :",longest_string)

The longest string in a tuple of strings : watermelon

In [17]:
#47. Find the shortest string in a tuple of strings.
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = string_tuple[0]
for string in string_tuple:
     if len(string) < len(shortest_string):
            shortest_string = string

print(shortest_string)

kiwi

In [21]:
#48. Create a tuple of the first `n` triangular numbers.
n = int(input("enter the number:"))
triangular_num = tuple(i*(i+1)//2 for i in range(1,n+1))
print(triangular_num)

enter the number: 5

(1, 3, 6, 10, 15)

In [25]:
#49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1,2,3,4,5,6,7,8,9)
sub_tuple = (4,5,6)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [26]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

In [27]:
# 1. Create a set with integers from 1 to 5.
set(range(1,6))

{1, 2, 3, 4, 5}

In [31]:
# 2. Add an element to a set.
Set = {1,2,3,4,5}
add_element = 6
Set.add(add_element)
print(Set)

{1, 2, 3, 4, 5, 6}

In [36]:
#3. Remove an element from a set.
Set = {1, 2, 3, 4, 5, 6}
Set.remove(6)
print(Set)

{1, 2, 3, 4, 5}

In [40]:
# 4. Check if an element exists in a set.
my_set = {1, 2, 3, 4, 5, 6}
exists_element = int(input("enter your element:"))
if exists_element in my_set:
    print("these are element exists in my_set ")
else:
    print("these are element does not exists in my_set ")

enter your element: 10

these are element does not exists in my_set

In [48]:
#5. Find the length of a set without using the `len()` function.
my_set = {1,2,3,4,5}
count = 0
for _ in my_set:
    count +=1
print("the length is : ",count)

the length is :  5

In [49]:
# 6. Clear all elements from a set.
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [52]:
# 7. Create a set of even numbers from 1 to 10.
my_set = set(range(1,21))
even_num = set(i for i in my_set if i%2 == 0)
print(even_num)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [53]:
# 8. Create a set of odd numbers from 1 to 10.
my_set = set(range(1,21))
odd_num = set(i for i in my_set if i%2 != 0)
print(odd_num)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [54]:
# 9. Find the union of two sets.
set1 = {1,2,3,4}
set2 = {5,6,7,8}
union_res = set1.union(set2)
print(union_res)

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
#10. Find the intersection of two sets.
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8}
union_result = set1.intersection(set2)
print(union_result)

{3, 4, 5, 6}

In [58]:
# 11. Find the difference between two sets.
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8}
res = set1.difference(set2)
print(res)

{1, 2}

In [59]:
#12. Check if a set is a subset of another set.
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8}
sub_res = set1.issubset(set2)
print(sub_res)

False

In [60]:
#13. Check if a set is a superset of another set.
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8}
sup_res = set1.issuperset(set2)
print(sup_res)

False

In [61]:
# 14. Create a set from a list.
my_list = [1,2,3,4,5]
set_convt = set(my_list)
print(set_convt)

{1, 2, 3, 4, 5}

In [62]:
# 15. Convert a set to a list.
my_set = {1,2,3,4,5,6}
list_convt = list(my_set)
print(list_convt)

[1, 2, 3, 4, 5, 6]

In [67]:
# 16. Remove a random element from a set.
import random
my_set = {10,78,52,74,13}
remove_element_random = random.choice(list(my_set))
my_set.remove(remove_element_random)
print(my_set)

{52, 74, 10, 13}

In [70]:
# 17. Pop an element from a set.
my_set = {1,2,3,4,5}
my_set.pop()
my_set

{2, 3, 4, 5}

In [73]:
# 18. Check if two sets have no elements in common.
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {3, 4, 5, 6}

In [74]:
#19. Find the symmetric difference between two sets.
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8}
semmentric_diff = set1^set2
print(semmentric_diff)

{1, 2, 7, 8}

In [80]:
# 20. Update a set with elements from another set.
set1 = {1,2,3}
set2 ={4,5,6}
update_set = set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [85]:
# 21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = int(input("enter the number"))
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

enter the number 2

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [86]:
# 22. Check if two sets are identical.
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are not identical.

In [89]:
#23. Create a frozen set.
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [90]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
set1.isdisjoint(set2)

True

In [91]:
#25. Create a set of squares of numbers from 1 to 5.
squares_num = set(i**2 for i in range(1,6))
print(squares_num)

{1, 4, 9, 16, 25}

In [96]:
# 26. Filter out all even numbers from a set.
out_even_set = set(i for i in range(1,20) if i%2 == 0)
print(out_even_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [98]:
# 27. Multiply all elements in a set by 2.
my_set = {1,2,3,4,5}
mul_num = [2**i for i in my_set]
set(mul_num)

{2, 4, 8, 16, 32}

In [99]:
# 28. Create a set of random numbers.
import random
random_set = set(random.randint(1,100) for i in range(20))
print(random_set)

{96, 66, 39, 44, 12, 46, 47, 81, 49, 20, 85, 22, 84, 24, 89, 58, 60, 93}

In [100]:
# 29. Check if a set is empty.
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [101]:
# 30. Create a nested set (hint: use frozenset).
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [102]:
#31. Remove an element from a set using the discard method.
my_set = {1,2,3,4,5,6}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5, 6}

In [103]:
# 32. Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [105]:
# 33. Create a set from a string.
string = 'rahul'
set(string)

{'a', 'h', 'l', 'r', 'u'}

In [109]:
#34. Convert a set of strings to a set of integers.
set_str = {'12','13','14','15','16','17','18','19'}
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in set_str:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", set_str)
print("Converted Integer Set:", integer_set)

Original String Set: {'18', '17', '12', '13', '16', '15', '19', '14'}
Converted Integer Set: {12, 13, 14, 15, 16, 17, 18, 19}

In [3]:
#35. Convert a set of integers to a set of strings.
int_set = {12, 13, 14, 15, 16, 17, 18, 19}
str_set = set()
for i in int_set:
    str_value = str(i)
    str_set.add(str_value)
print(str_set)

{'18', '19', '15', '13', '17', '16', '12', '14'}

In [5]:
#36. Create a set from a tuple.
my_tuple = (1,2,3,4,5,6,7,8,9)
covt_set_from_tuple = set(my_tuple)
print(covt_set_from_tuple)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
# 37. Convert a set to a tuple.
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
covt_tuple_from_set = tuple(my_set)
print(covt_tuple_from_set)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
# 38. Find the maximum value in a set.
my_set = {101,105,99,56,45,1101,4500,48,65,73,430000,85000,780000,56,33,10,56400}
maximum_value = max(my_set)
print(maximum_value)

780000

In [17]:
#39. Find the minimum value in a set.
my_set = {101,105,99,56,45,1101,4500,48,65,73,430000,85000,780000,56,33,10,56400}
minimum_value_of_set = min(my_set)
print(minimum_value_of_set)

10

In [19]:
# 40. Create a set from user input.
user_input_set = set(input("enter your set"))
print(user_input_set)

enter your set rahul

{'r', 'h', 'l', 'u', 'a'}

In [20]:
#41. Check if the intersection of two sets is empty.
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
result = set1.intersection(set2)
if not result:
    print("the set is not empty !!! the set is : ",set1,set2)
else:
    print("the set is empty")

the set is not empty !!! the set is :  {1, 2, 3, 4, 5} {6, 7, 8, 9, 10}

In [28]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()

a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [30]:
# 43. Remove duplicates from a list using sets.
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
remove_dup = list(set(original_list))
print(remove_dup)

[2, 4, 6, 8, 10, 12, 14]

In [34]:
# 44. Check if two sets have the same elements, regardless of their count.
def is_same_element(set1,set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1,2,3}
set2 = {1,2,3}
result = is_same_element(set1,set2)
if  result:
    
    print("the sets have the same element")
else:
    print("thw sets do not have the same element ")

the sets have the same element

In [36]:
# 45. Create a set of the first `n` powers of 2.
My_set = set(2**n for n in range(5))
print(My_set)

{1, 2, 4, 8, 16}

In [42]:
# 46. Find the common elements between a set and a list.
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_element = []
for i in my_set:
    if i in list_to_set:
        common_element.append(i)

print(common_element)

[7, 9, 12]

In [52]:
# 47. Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers


n = int(input("Enter the value of n: "))


triangular_set = generate_triangular_numbers(n)


print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [54]:
# 48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
res = set1.issubset(set2)
if res :
    print("this is contain subset .")
else:
    print("this is contain not subset.")

this is contain not subset.

In [55]:
# 49. Create a set of alternating 1s and 0s of length `n`.
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  

    return alternating_set

length_n = 10


result = create_alternating_set(length_n)


print(result)

{0, 1}

In [56]:
# 50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merge_set = set1.union(set2,set3)
print(merge_set)

{1, 2, 3, 4, 5, 6, 7}